h1{
    line-height: 5px 
    line: width 5px;
    line color:red
}
h2{
    color: rgb(146, 7, 7);
}

.parent{
    display flex: ;
    width:50%
    
    ;

}
{
 
}
.button{
    color:red ;
}

}
<style>
.button{
    color: crimson;
}
.photo img{
    width: 200px;
    
}
section{
    display flex: ;
}
.half{
    width:100% ;
}