h1{
    line-height: 5px 
    line: width 5px;
    line color:red
}
h2{
    color: rgb(146, 7, 7);
}

.parent{
    display flex: ;
    width: 70%
    ;
}
{
 
}

<style>
.button{
    color: crimson;
}
.photo img{
    width: 200px;
    
}
